//
@import "~bootstrap/scss/bootstrap";

main{
    min-height: calc(100vh - 108px);
    a{
        text-decoration: none;
        color: lightsalmon;
        &:hover{
            color: green;
        }
    }
    .comic-container{
        border-radius: 10px;
        background-color: blanchedalmond;
        box-shadow: 10px 10px 10px rgba(65, 65, 65, 0.795);
        padding: 25px 10px;
        img{
            width: 100%;
            border-radius: 5px;
            box-shadow: 3px 3px 3px black;
            transition: 0.5s ease;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}
footer{
    border-top: 2px solid white;
}